 * {
   box-sizing: border-box;
 }

:root {
   --primary-color: #000958;  
   --desc-color: #656689;
}

 html {
   font-size: 62.5%;
 }

 body {
   font-size: 1.6rem;
   background: #FFFAF5;
   font-family: 'Poppins', sans-serif;
 }

 input,
 button,
 textarea {
   font-size: inherit;
   font-weight: inherit;
 }

 /* Common */
 .content {
   width: 1170px;
   max-width: calc(100% - 48px);
   margin-left: auto;
   margin-right: auto;
 }

 a {
   text-decoration: none;
 }

 .btn {
   --height: 56px;

   display: inline-block;
   color: var(--primary-color);
   height: var(--height);
   line-height: var(--height);

   font-family: Poppins;
   font-size: 1.4rem;
   font-weight: 600;
   text-align: center;

   border: 1px solid rgb(0, 9, 88, 0.7);
   border-radius: 25px;
 }

 .check-box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 24px;
   height: 24px;
   background-color: #FF5D31;
   border-radius: 5px;
   transition: box-shadow 0.2s;
 }


 .check-box span {
   width: 8px;
   height: 13px;
   border: 2px solid #FFF2E5;
   border-color: transparent #FFF2E5 #FFF2E5 transparent;
   rotate: 45deg;
   border-radius: 1.5px;
   translate: 0 -15%;
 }

 .section-heading {
   color: var(--primary-color);
   font-family: Sora;
   font-size: 5.2rem;
   font-weight: 700;
   line-height: 119.231%;
 }

 /* Header */
.header {
   background: #FFFAF5;
   /* position: sticky; */
   top: 0;
   z-index: 1;
   padding: 26px 0;
}

 .header__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .navigations__list {
   display: flex;
   align-items: center;
 }

 .navigations__links,
 .header__action__link {
   color: #5E6085;
   padding: 18px;
   font-family: Poppins;
   font-size: 1.4rem;
   font-weight: 500;
}

 .navigations__links:hover,
 .header__action__link:hover {
   color: var(--primary-color);
   text-shadow: 0.1px 0.1px 0.1px currentColor;
 }
 
 .header__action__btn {
   --height: 50px;
   min-width: 117px;
 }

 /* Hero */
.hero {
   margin-top: 74px;
}

.hero__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.hero__media {
   width: 50%;
   position: relative;
   display: flex;
   padding-bottom: 94px;
}

.media__overlay {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   border-radius: 16px;
   object-fit: cover;
}

.media__overlay.large {
   position: relative;

   width: 388px;
   height: 488px;

   background: #FE997B;

   
   border: 3px solid #FFF;
}

.media__overlay.small {
   width: 186px;
   height: 244px;
   background: #FAA7AD;


   align-self: flex-end;

   border: 3px solid rgba(255, 255, 255, 0.65);
   border-radius: 16px;

   margin: 0 0 -58px -24px;
   z-index: 1;
}

.overlay__thumb {
   max-width: 100%;
   max-height: 100%;
   border-radius: inherit;
}

.overlay__decoration {
   position: absolute;
   z-index: -1;
}

.overlay__decoration.left {
   left: -60px;
   bottom: 0;
}

.overlay__decoration.right {
   top: 12px;
   right: -43px;
}

.media__modal {
   position: absolute;
   left: 129px;
   bottom: 0;

   width: 250px;
   display: inline-block;
   align-self: flex-end;
   background-color: #fff;

   border-radius: 10px;
   box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
   padding: 18px 14px;
   z-index: 2;
   
}

.media__modal section {
   display: flex;
}

.media__modal .avatar {
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;

   width: 40px;
   height: 40px;
   border-radius: 10px;
   object-fit: cover;
   overflow: hidden;
}


section:first-child .avatar {
   background: #FEC23F;
}

section:last-child .avatar{
   background: #C6E2FA;
}

.media__modal .avatar img {
   max-width: 100%;
   max-height: 100%;
   border-radius: inherit;
}

.modal__seperate {
   margin: 20px 0;
   height: 2px;
   background: #F2F2F2;
   border-radius: 99px;
}

.modal_info {
   margin-left: 10px;
}

.modal_info .title {
   color: #181E52;
   font-family: Sora;
   font-size: 1.4rem;
   font-weight: 600;
}

.modal_info .desc span {
   display: block;
   border-radius: 10px;
   opacity: 0.08;
   background: var(--primary-color);
   height: 4px;
}

.modal_info .desc span.long {
   margin-top: 7px;
   width: 118px;
}

.modal_info .desc span.short {
   margin-top: 6px;
   width: 39px;
}

.hero-info {
   width: 44.2%;
}

.hero-info__title {
   color: var(--primary-color);
   font-family: Sora;
   font-size: 6.6rem;
   font-weight: 800;
   line-height: 115.152%;
}

.hero-info__desc {
   margin-top: 24px;
   width: 391px;
   color: var(--desc-color);
   font-family: Poppins;
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 187.5%;
}

.hero-info__cta {
   margin-top: 38px;
   display: flex;
   align-items: center;
   gap: 24px;
}

.booking__btn {
   --height: 60px;
   min-width: 189px;
   background-color: #FF5B2E;
   border: none;


   display: flex;
   align-items: center;
   justify-content: center;

   transition: translate 0.3s, box-shadow 0.3s;
}

.booking__btn:hover {
   translate: 0 -10px;
   box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.booking__content {
   color: #FFF;
   font-size: 1.6rem;
   font-weight: 600;
}

.booking__icon {
   display: flex;
   justify-content: center;
   align-items: center;

   margin-left: 10px;

   width: 20px;
   height: 20px;
   background-color: #FFFAF5;
   border-radius: 50%;
}

.booking__icon span {
   display: inline-block;
   width: 10px;
   height: 10px;


   border: 2.3px solid #FD5056;
   border-color: transparent #FD5056 #FD5056 transparent;
   border-radius: 2px;

   rotate: -45deg;
   translate: -23% 0;
}

.hero-info__schedule {
   color: var(--primary-color);
   font-size: 1.6rem;
   font-weight: 500;
}

.hero-info__schedule:hover {
   text-decoration: underline;
}

/* ==============About============== */

/* About info */
.about {
   margin-top: 77px;
   padding: 53px 0;
}

.about__inner {
   display: grid;
   grid-template-columns: auto auto;
   justify-content: space-between;
   align-items: center;
}

.about-info__desc,
.about-info__title {
   width: 444px;
}

.about-info__sub-title {
   color: #5E6085;
   font-family: Sora;
   font-size: 1.6rem;
   font-weight: 600;
}


.about-info__desc {
   margin-top: 24px;
   width: 431px;
   color: var(--desc-color);
   font-size: 1,6rem;
   font-weight: 400;
   line-height: 187.5%;
}

.info-checklist {
   margin-top: 54px;
   display: grid;
   grid-template-columns: auto auto;
   gap: 36px;
   justify-content: flex-start;
}

.info-checklist-item {
   display: flex;
   align-items: center;
   gap: 10px;
}

.info-checklist-item:hover .check-box {
   box-shadow: 0px 5px 10px -4px rgba(255, 91, 46, 1);
} 

.info-checklist-item__criteria {
   color: #48496A;
   font-size: 1.8rem;
   font-weight: 400;
}

/* About media */

.about-media {
   display: flex;
}

.about-media__modal {
   position: absolute;
   left: -92px;
   top: -58px;

   width: 136px;
   height: 156px;
   padding: 0 26px;
   border-radius: 10px;
   background: #5BD6E2;
   text-align: center;
   box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about-media__modal .modal__deco {
   position: absolute;
   top: -40px;
   right: -34px;
}

.about-media__modal .modal__title {
   display: block;
   margin-top: 31px;
   color: #FFF;
   font-family: Sora;
   font-size: 4.2rem;
   font-weight: 700;
}

.about-media__modal .modal__content {
   margin-top: 14px;
   color: #d0f6fa;
   font-size: 1.4rem;
   font-weight: 400;
   line-height: 142.857%;
}


.about-media__container {
   position: relative;
   height: 559px;
   display: flex;
   align-items: flex-end;

}

.about-media__background {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   object-fit: cover;

   width: 494px;
   height: 60%;

   border-radius: 16px;
   background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
   position: relative;
}

.about-media__deco {
   position: absolute;
   right: -51px;
   top: 157px;
}

.about-media__thumb {
   position: absolute;
   bottom: 0;
}




